Repository Sinless777/Helix, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub, GitHub-Workflows, GitHub-Issue-Templates, APIs, User-Interfaces, Docker, Libs, Authentication, Discord-Bot, Frontend, Documentation, Testing, Dependencies

.github/labeler.yaml:

# .github/labeler.yaml

# ————— Branch-based labels —————
Bugfix:
  - head-branch: ['^bugfix/.*']
Hotfix:
  - head-branch: ['^hotfix/.*']
Feature:
  - head-branch: ['^feature/.*']
Release:
  - head-branch: ['^release/.*']
Support:
  - head-branch: ['^support/.*']

# ————— GitHub meta —————
GitHub:
  - changed-files:
      any-glob-to-any-file: '.github/**'
GitHub-Workflows:
  - changed-files:
      any-glob-to-any-file: '.github/workflows/**'
GitHub-Issue-Templates:
  - changed-files:
      any-glob-to-any-file: '.github/ISSUE_TEMPLATE/**'

# ————— Major areas —————
APIs:
  - changed-files:
      any-glob-to-any-file: 'apis/**'
User-Interfaces:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/**'
Docker:
  - changed-files:
      any-glob-to-any-file: 'docker/**'
Libs:
  - changed-files:
      any-glob-to-any-file: 'libs/**'

# ————— Sample sub-areas —————
Authentication:
  - changed-files:
      any-glob-to-any-file: 'apis/auth/**'
Discord-Bot:
  - changed-files:
      any-glob-to-any-file: 'apis/discord-bot/**'
Frontend:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/frontend/**'

# ————— Documentation & tests —————
Documentation:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'
        - 'docs/**'
Testing:
  - changed-files:
      any-glob-to-any-file:
        - 'tests/**'
        - 'test/**'
        - '**/*.test.*'
        - '**/*.spec.*'

# ————— Dependency files —————
Dependencies:
  - changed-files:
      any-glob-to-any-file:
        - 'requirements.txt'
        - '**/requirements.txt'
        - 'package.json'
        - '**/package.json'
        - 'package-lock.json'
        - 'yarn.lock'
        - 'pnpm-lock.yaml'
        - 'Gemfile'
        - 'Gemfile.lock'
        - 'Pipfile'
        - 'Pipfile.lock'

fix lockfile
  pnpm-lock.yaml
Labels: Dependencies

refactor: reorganize dependencies in pnpm-lock.yaml for shared libraries
  pnpm-lock.yaml
  tsconfig.json
Labels: Dependencies

feat: enhance user profile management with avatar, sex, and gender fields; add profile page and edit functionality
  .task/checksum/migrate-gen-push
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/frontend/src/app/(site)/profile/[userId]/page.tsx
  apps/services/user/src/app/user-profile/user-profile.service.ts
  apps/services/user/src/main.ts
  libs/shared/db/src/entities/user/profile.entity.ts
  libs/shared/db/src/enums/gender.enum.ts
  libs/shared/db/src/enums/sex.enum.ts
  libs/shared/db/src/migrations/.snapshot-postgres.json
  libs/shared/db/src/migrations/Migration20251121003454_auto_migration.ts
  libs/ui/src/components/auth/login-button.tsx
  pnpm-lock.yaml
  taskfile.yaml
Labels: Libs, Dependencies

feat: add appConfig type definition and consolidate configuration exports
  apps/frontend/src/app/(site)/profile/[userId]/page.tsx
  libs/core/src/config.index.ts
  libs/core/src/index.ts
  libs/core/src/types/appConfig.ts
Labels: Libs

feat: integrate Sentry for error tracking and performance monitoring
  .gitignore
  .mcp.json
  apps/frontend/instrumentation-client.ts
  apps/frontend/instrumentation.ts
  apps/frontend/next.config.js
  apps/frontend/sentry.edge.config.ts
  apps/frontend/sentry.server.config.ts
  apps/frontend/src/app/(site)/profile/[userId]/page.tsx
  apps/services/user/src/app/login/login.service.ts
  apps/services/user/src/app/user-settings/user-settings.dto.ts
  apps/services/user/src/app/user-settings/user-settings.service.ts
  apps/services/user/src/app/user/user.controller.ts
  apps/services/user/src/app/user/user.dto.ts
  apps/services/user/src/app/user/user.service.ts
  libs/core/src/config/auth.config.ts
  libs/shared/db/src/entities/user/settings.entity.ts
  package.json
  pnpm-lock.yaml
Labels: Libs, Dependencies

Update license header to Apache License 2.0
  LICENSE.md
Labels: Documentation

chore: move e2e projects under apps/e2e
  apps/e2e/frontend-e2e/cypress.config.ts
  apps/e2e/frontend-e2e/eslint.config.mjs
  apps/e2e/frontend-e2e/package.json
  apps/e2e/frontend-e2e/project.json
  apps/e2e/frontend-e2e/src/e2e/about.cy.ts
  apps/e2e/frontend-e2e/src/e2e/app.cy.ts
  apps/e2e/frontend-e2e/src/e2e/contact.cy.ts
  apps/e2e/frontend-e2e/src/e2e/navigation.cy.ts
  apps/e2e/frontend-e2e/src/e2e/technology.cy.ts
  apps/e2e/frontend-e2e/src/fixtures/example.json
  apps/e2e/frontend-e2e/src/support/app.po.ts
  apps/e2e/frontend-e2e/src/support/commands.ts
  apps/e2e/frontend-e2e/src/support/e2e.ts
  apps/e2e/frontend-e2e/tsconfig.json
  apps/e2e/user-e2e/.spec.swcrc
  apps/e2e/user-e2e/eslint.config.mjs
  apps/e2e/user-e2e/jest.config.cts
  apps/e2e/user-e2e/package.json
  apps/e2e/user-e2e/project.json
  apps/e2e/user-e2e/src/support/global-setup.ts
  apps/e2e/user-e2e/src/support/global-teardown.ts
  apps/e2e/user-e2e/src/support/test-setup.ts
  apps/e2e/user-e2e/src/user/user.spec.ts
  apps/e2e/user-e2e/tsconfig.json
  apps/services/user-e2e/package.json
  pnpm-workspace.yaml
Labels: Testing, Dependencies

Add Flux v2.7.3 component manifests
  IaC/kubernetes/clusters/dev/flux-system/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  IaC/kubernetes/clusters/dev/flux-system/flux-system/gotk-sync.yaml
  IaC/kubernetes/clusters/dev/flux-system/flux-system/kustomization.yaml
Labels: none

feat: Add Taskfiles for database, development, and repository management; update .gitignore and CODEOWNERS
  .github/CODEOWNERS
  .gitignore
  .npmrc.local.example
  .sops.yaml
  .taskfiles/.gitkeep
  .taskfiles/database/Taskfile.yaml
  .taskfiles/development/Taskfile.yaml
  .taskfiles/repo/Taskfile.yaml
  IaC/.gitkeep
  IaC/kubernetes/.gitkeep
  IaC/kubernetes/clusters/dev/.gitkeep
  IaC/kubernetes/clusters/production/.gitkeep
  IaC/kubernetes/clusters/staging/.gitkeep
  Taskfile.yaml
  apps/frontend/next-env.d.ts
Labels: GitHub

Add Flux v2.7.3 component manifests
  IaC/kubernetes/clusters/dev/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  IaC/kubernetes/clusters/dev/flux-system/gotk-sync.yaml
  IaC/kubernetes/clusters/dev/flux-system/kustomization.yaml
Labels: none

Delete IaC/kubernetes/clusters/dev/flux-system directory
  IaC/kubernetes/clusters/dev/flux-system/flux-system/gotk-components.yaml
  IaC/kubernetes/clusters/dev/flux-system/flux-system/gotk-sync.yaml
  IaC/kubernetes/clusters/dev/flux-system/flux-system/kustomization.yaml
  IaC/kubernetes/clusters/dev/flux-system/gotk-components.yaml
  IaC/kubernetes/clusters/dev/flux-system/gotk-sync.yaml
  IaC/kubernetes/clusters/dev/flux-system/kustomization.yaml
Labels: none

Add Flux v2.7.3 component manifests
  IaC/kubernetes/clusters/dev/flux-system/gotk-components.yaml
Labels: none

Add Flux sync manifests
  IaC/kubernetes/clusters/dev/flux-system/gotk-sync.yaml
  IaC/kubernetes/clusters/dev/flux-system/kustomization.yaml
Labels: none

fix: update path regex in SOPS configuration for IaC directory structure
  .gitignore
  .sops.yaml
Labels: none

chore: fix flux CRD filenames and auto-apply dev cluster
  .taskfiles/development/Taskfile.yaml
  IaC/kubernetes/clusters/dev/flux-system/CRDs/git-repos.yaml
  IaC/kubernetes/clusters/dev/flux-system/CRDs/oci-repos.yaml
Labels: none

chore: refresh deploy-all to sync flux source first
  .taskfiles/development/Taskfile.yaml
Labels: none

chore: add flux CRD wait and staged apply to deploy-all
  .taskfiles/development/Taskfile.yaml
Labels: none

fix: update kustomization.yaml to include git-repos.yaml and maintain oci-repos.yaml
  IaC/kubernetes/clusters/dev/flux-system/CRDs/kustomization.yaml
Labels: none

fix: update flux repository configurations to disable TLS verification for public repos
  .taskfiles/development/Taskfile.yaml
  IaC/kubernetes/clusters/dev/flux-system/gotk-sync.yaml
  IaC/kubernetes/flux/repositories/helm/bitnami.yaml
  IaC/kubernetes/flux/repositories/helm/chaos-mesh.yaml
  IaC/kubernetes/flux/repositories/helm/cloudflare.yaml
  IaC/kubernetes/flux/repositories/helm/coredns.yaml
  IaC/kubernetes/flux/repositories/helm/crowdsec.yaml
  IaC/kubernetes/flux/repositories/helm/emissary-ingress.yaml
  IaC/kubernetes/flux/repositories/helm/external-dns.yaml
  IaC/kubernetes/flux/repositories/helm/falcosecurity.yaml
  IaC/kubernetes/flux/repositories/helm/flagger.yaml
  IaC/kubernetes/flux/repositories/helm/grafana.yaml
  IaC/kubernetes/flux/repositories/helm/hashicorp.yaml
  IaC/kubernetes/flux/repositories/helm/istio.yaml
  IaC/kubernetes/flux/repositories/helm/jaegertracing.yaml
  IaC/kubernetes/flux/repositories/helm/jetstack.yaml
  IaC/kubernetes/flux/repositories/helm/kiali.yaml
  IaC/kubernetes/flux/repositories/helm/kubearmor.yaml
  IaC/kubernetes/flux/repositories/helm/kubescape.yaml
  IaC/kubernetes/flux/repositories/helm/metrics-server.yaml
  IaC/kubernetes/flux/repositories/helm/nats.yaml
  IaC/kubernetes/flux/repositories/helm/opencost.yaml
  IaC/kubernetes/flux/repositories/helm/openfeature.yaml
  IaC/kubernetes/flux/repositories/helm/opentelemetry-helm.yaml
  IaC/kubernetes/flux/repositories/helm/prometheus-community.yaml
  IaC/kubernetes/flux/repositories/helm/rook-release.yaml
  IaC/kubernetes/flux/repositories/helm/vmware-tanzu.yaml
Labels: none

feat: add cert-manager resources and configurations for ACME integration
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/cloudflare.sops.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/clusterissuers.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/helmrelease.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/kustomization.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/ks.yaml
  IaC/kubernetes/apps/base/cert-manager/kustomization.yaml
  IaC/kubernetes/apps/base/cert-manager/namespace.yaml
  IaC/kubernetes/apps/base/kustomization.yaml
  IaC/kubernetes/clusters/dev/cert-manager.yaml
  IaC/kubernetes/clusters/dev/kustomization.yaml
  IaC/kubernetes/flux/config/cluster.yaml
  IaC/kubernetes/flux/config/clusters.yaml
  IaC/kubernetes/flux/repositories/helm/bitnami.yaml
  IaC/kubernetes/flux/repositories/helm/bjw-s.yaml
  IaC/kubernetes/flux/repositories/helm/chaos-mesh.yaml
  IaC/kubernetes/flux/repositories/helm/cloudflare.yaml
  IaC/kubernetes/flux/repositories/helm/coredns.yaml
  IaC/kubernetes/flux/repositories/helm/crowdsec.yaml
  IaC/kubernetes/flux/repositories/helm/emissary-ingress.yaml
  IaC/kubernetes/flux/repositories/helm/external-dns.yaml
  IaC/kubernetes/flux/repositories/helm/falcosecurity.yaml
  IaC/kubernetes/flux/repositories/helm/flagger.yaml
  IaC/kubernetes/flux/repositories/helm/grafana.yaml
  IaC/kubernetes/flux/repositories/helm/hashicorp.yaml
  IaC/kubernetes/flux/repositories/helm/istio.yaml
  IaC/kubernetes/flux/repositories/helm/jaegertracing.yaml
  IaC/kubernetes/flux/repositories/helm/jetstack.yaml
  IaC/kubernetes/flux/repositories/helm/kiali.yaml
  IaC/kubernetes/flux/repositories/helm/kubearmor.yaml
  IaC/kubernetes/flux/repositories/helm/kubescape.yaml
  IaC/kubernetes/flux/repositories/helm/metrics-server.yaml
  IaC/kubernetes/flux/repositories/helm/nats.yaml
  IaC/kubernetes/flux/repositories/helm/opencost.yaml
  IaC/kubernetes/flux/repositories/helm/openfeature.yaml
  IaC/kubernetes/flux/repositories/helm/opentelemetry-helm.yaml
  IaC/kubernetes/flux/repositories/helm/prometheus-community.yaml
  IaC/kubernetes/flux/repositories/helm/rook-release.yaml
  IaC/kubernetes/flux/repositories/helm/vmware-tanzu.yaml
  IaC/kubernetes/flux/vars/cluster-settings.yaml
Labels: none

fix: update ACME registration emails in cluster settings
  IaC/kubernetes/flux/vars/cluster-settings.yaml
Labels: none

fix: update Taskfile to ensure flux-system-sops secret is created if it doesn't exist
  .taskfiles/development/Taskfile.yaml
Labels: none

fix: update Taskfile to create flux-system-sops secret if it doesn't exist and ensure proper Flux resource setup
  .taskfiles/development/Taskfile.yaml
Labels: none

feat: add kustomization.yaml files for CoreDNS and kube-prometheus-stack
  IaC/kubernetes/apps/base/networking/coredns/kustomization.yaml
  IaC/kubernetes/apps/base/observability/kube-prometheus-stack/kustomization.yaml
Labels: none

refactor: remove namespace entries and update resource paths in kustomization.yaml files
  IaC/kubernetes/apps/base/cert-manager/kustomization.yaml
  IaC/kubernetes/apps/base/cost-feature/kustomization.yaml
  IaC/kubernetes/apps/base/dr-chaos/kustomization.yaml
  IaC/kubernetes/apps/base/mesh/kustomization.yaml
  IaC/kubernetes/apps/base/networking/kustomization.yaml
  IaC/kubernetes/apps/base/observability/kube-prometheus-stack/app/kustomization.yaml
  IaC/kubernetes/apps/base/observability/kustomization.yaml
  IaC/kubernetes/apps/base/platform/kustomization.yaml
  IaC/kubernetes/apps/base/security/kustomization.yaml
  IaC/kubernetes/apps/base/storage/kustomization.yaml
Labels: none

feat: add git-repositories.yaml and values.yaml for cert-manager; update kustomization.yaml and dependencies in ks.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/configs/values.yaml
  IaC/kubernetes/apps/base/networking/cloudflared/ks.yaml
  IaC/kubernetes/apps/base/networking/coredns/ks.yaml
  IaC/kubernetes/clusters/dev/git-repositories.yaml
  IaC/kubernetes/clusters/dev/kustomization.yaml
Labels: none

feat: remove deprecated clusterissuers.yaml; update kustomization.yaml and add issuers configuration
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/kustomization.yaml
  IaC/kubernetes/apps/base/cert-manager/issuers/app/clusterissuers.yaml
  IaC/kubernetes/apps/base/cert-manager/issuers/app/kustomization.yaml
  IaC/kubernetes/apps/base/cert-manager/issuers/ks.yaml
  IaC/kubernetes/apps/base/cert-manager/kustomization.yaml
  IaC/kubernetes/apps/base/networking/coredns/ks.yaml
  IaC/kubernetes/apps/base/networking/echo-server/app/helmrelease-domain3.yaml
  IaC/kubernetes/apps/base/observability/kube-prometheus-stack/app/configs/dashboard-home.json
Labels: none

fix: update helmrelease.yaml for cleanupOnFail and remove redundant enable flag; add placeholder values.yaml for echo-server
  IaC/kubernetes/apps/base/networking/echo-server/app/configs/values.yaml
  IaC/kubernetes/apps/base/networking/external-dns/app/helmrelease.yaml
Labels: none

fix: remove redundant enable flag from remediation in helmrelease files; update kustomization.yaml to remove emissary-ingress resource
  IaC/kubernetes/apps/base/networking/echo-server/app/helmrelease-domain1.yaml
  IaC/kubernetes/apps/base/networking/echo-server/app/helmrelease-domain2.yaml
  IaC/kubernetes/apps/base/networking/echo-server/app/helmrelease-domain3.yaml
  IaC/kubernetes/apps/base/networking/kustomization.yaml
Labels: none

fix: update polling interval in bjw-s HelmRepository for improved stability; remove unnecessary comments
  IaC/kubernetes/apps/base/observability/kube-prometheus-stack/app/helmrelease.yaml
  IaC/kubernetes/flux/repositories/helm/bjw-s.yaml
Labels: none

fix: remove unused secret reference from cloudflared HelmRelease; update kustomization.yaml to include secret.sops.yaml for external-dns
  IaC/kubernetes/apps/base/networking/cloudflared/app/helmrelease.yaml
  IaC/kubernetes/apps/base/networking/external-dns/app/kustomization.yaml
  IaC/kubernetes/flux/repositories/helm/kustomization.yaml
Labels: none

fix: add secret reference for SOPS decryption in cloudflared and external-dns Kustomizations; update kustomization.yaml accordingly
  IaC/kubernetes/apps/base/networking/cloudflared/app/kustomization.yaml
  IaC/kubernetes/apps/base/networking/cloudflared/ks.yaml
  IaC/kubernetes/apps/base/networking/external-dns/ks.yaml
Labels: none

feat: add new CRDs and update existing Kubernetes resources; enhance SOPS configuration and secret management
  .sops.yaml
  .taskfiles/development/Taskfile.yaml
  IaC/kubernetes/apps/base/networking/external-dns/app/secrets/secret.sops.yaml
  IaC/kubernetes/bootstrap/00-crds.yaml
  IaC/kubernetes/bootstrap/kustomization.yaml
  IaC/kubernetes/bootstrap/namespace.yaml
  IaC/kubernetes/bootstrap/rbac.yaml
  IaC/kubernetes/bootstrap/sops-age.sops.yaml
Labels: none

fix: update cert-manager Kustomization and HelmRelease configurations; add cloudflare.sops.yaml reference and adjust secret management
  .taskfiles/development/Taskfile.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/kustomization.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/ks.yaml
  IaC/kubernetes/apps/base/cert-manager/issuers/ks.yaml
  IaC/kubernetes/apps/base/networking/external-dns/app/helmrelease.yaml
  IaC/kubernetes/apps/base/networking/external-dns/app/secrets/secret.sops.yaml
Labels: none

fix: remove unused enable field from cert-manager HelmRelease; clean up external-dns values section by removing secret reference
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/helmrelease.yaml
  IaC/kubernetes/apps/base/networking/external-dns/app/helmrelease.yaml
Labels: none

feat: add RBAC configuration for kube-prometheus-stack; include ServiceAccount, Role, RoleBinding, and ClusterRoleBinding
  IaC/kubernetes/apps/base/observability/kube-prometheus-stack/app/helmrelease.yaml
  IaC/kubernetes/apps/base/observability/kube-prometheus-stack/app/kustomization.yaml
  IaC/kubernetes/apps/base/observability/kube-prometheus-stack/app/rbac.yaml
  IaC/kubernetes/apps/base/observability/loki/app/configs/values.yaml
Labels: none

fix: update Grafana and Prometheus configurations; adjust datasource defaults and retention settings
  IaC/kubernetes/apps/base/observability/kube-prometheus-stack/app/configs/values.yaml
  IaC/kubernetes/apps/base/observability/loki/app/configs/values.yaml
Labels: none

Add CRDs for Prometheus Operator and External DNS, and configure OCI repository for cert-manager
  .gitignore
  .taskfiles/development/Taskfile.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/cloudflare.sops.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/cluster-issuers.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/configs/values.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/helmrelease.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/app/kustomization.yaml
  IaC/kubernetes/apps/base/cert-manager/cert-manager/ks.yaml
  IaC/kubernetes/apps/base/cert-manager/issuers/app/clusterissuers.yaml
  IaC/kubernetes/apps/base/cert-manager/issuers/app/kustomization.yaml
  IaC/kubernetes/apps/base/cert-manager/issuers/ks.yaml
  IaC/kubernetes/apps/base/cert-manager/kustomization.yaml
  IaC/kubernetes/bootstrap/00-crds.yaml
  IaC/kubernetes/bootstrap/00-crds/external-dns-crd.yaml
  IaC/kubernetes/bootstrap/00-crds/gateway-api-crds.yaml
  IaC/kubernetes/bootstrap/00-crds/kustomization.yaml
  IaC/kubernetes/bootstrap/00-crds/patch-prometheuses.yaml
  IaC/kubernetes/bootstrap/kustomization.yaml
  IaC/kubernetes/bootstrap/sops-age.sops.yaml
  IaC/kubernetes/flux/repositories/oci/jetstack.yaml
  IaC/kubernetes/flux/repositories/oci/kustomization.yaml
  IaC/kubernetes/flux/vars/cluster-settings.yaml
Labels: none
