Repository Sinless777/Helix, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub, GitHub-Workflows, GitHub-Issue-Templates, APIs, User-Interfaces, Docker, Libs, Authentication, Discord-Bot, Frontend, Documentation, Testing, Dependencies

chore: Remove obsolete ESLint and Prettier workflow, update sync milestones workflow, and enhance README and LICENSE documentation
  .github/FUNDING.yaml
  .github/workflows/eslint-prettier.yaml
  .github/workflows/sync-milestones.yaml
  LICENSE.md
  Readme.md
  apps/frontend/src/app/layout.tsx
Labels: GitHub, GitHub-Workflows, Documentation

chore: Refactor sync milestones workflow for improved clarity and functionality
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Update sync milestones workflow for improved permissions and clarity
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Replace inline milestone sync logic with external script for better maintainability
  .github/scriptsts/milestone.js
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Fix path to milestone sync script for correct execution
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Fix path to milestone sync script for correct execution
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Correct path to milestone sync script for proper execution
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Add milestone management script for syncing and updating milestones
  .github/scripts/milestone.js
Labels: GitHub

chore: Enhance milestone sync script with logging and fix dependency installation
  .github/scripts/milestone.js
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Add cache configuration for Node.js setup in milestone sync workflow
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Refactor auto-assignment workflow and add assignment script
  .github/scripts/assign.js
  .github/workflows/assign.yaml
Labels: GitHub, GitHub-Workflows

chore: Add workflow_dispatch trigger to auto-assign workflow
  .github/workflows/assign.yaml
Labels: GitHub, GitHub-Workflows

chore: Consolidate tool installation and script execution in auto-assign workflow
  .github/workflows/assign.yaml
Labels: GitHub, GitHub-Workflows

chore: Remove cache configuration for Node.js setup in workflows
  .github/workflows/assign.yaml
  .github/workflows/sync-milestones.yaml
Labels: GitHub, GitHub-Workflows

chore: Refactor assignment script and update workflow configuration
  .github/scripts/assign.js
  .github/workflows/assign.yaml
Labels: GitHub, GitHub-Workflows

chore: Improve PR and Issue detection logic in assignment script
  .github/scripts/assign.js
Labels: GitHub

chore: Enhance PR and Issue detection logic in assignment script
  .github/scripts/assign.js
Labels: GitHub

chore: Comment out unused language options in CodeQL workflow
  .github/workflows/codeQL.yaml
Labels: GitHub, GitHub-Workflows

chore: Clean up comments and improve workflow readability in publish-libs.yml
  .github/workflows/publish-libs.yml
Labels: GitHub, GitHub-Workflows

chore: Update dependencies in pnpm-lock.yaml and remove unused packages
  pnpm-lock.yaml
Labels: Dependencies

chore: Add comment to clarify pnpm version setup in publish-libs.yml
  .github/workflows/publish-libs.yml
Labels: GitHub, GitHub-Workflows

chore: Remove unnecessary whitespace in publish-libs.yml
  .github/workflows/publish-libs.yml
Labels: GitHub, GitHub-Workflows

chore: Remove --frozen-lockfile option from pnpm install command
  .github/workflows/publish-libs.yml
Labels: GitHub, GitHub-Workflows

chore: Add publish workflow and scripts for versioning and release notes generation
  .github/scripts/publish.js
  .github/scripts/releasenotes.js
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

chore: Add verification step for lockfile consistency before installing dependencies
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

Fix lock file
  pnpm-lock.yaml
Labels: Dependencies

chore: Update pnpm version to 9.15.4 in publish workflow
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

chore: Update build command to use pnpm nx for building all libraries and apps
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

Implement code changes to enhance functionality and improve performance
  package.json
  pnpm-lock.yaml
Labels: Dependencies

chore: Add Git identity configuration step in publish workflow
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

feat: Add OpenAI dependency to project
  package.json
  pnpm-lock.yaml
Labels: Dependencies

fix: Correct OpenAI API initialization in release notes script
  .github/scripts/releasenotes.js
Labels: GitHub

fix: Refactor OpenAI API usage in release notes script
  .github/scripts/releasenotes.js
Labels: GitHub

fix: Update permissions to allow write access for contents in publish workflow
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Update rootDir in tsconfig.lib.json for correct directory structure
  libs/db/tsconfig.lib.json
Labels: Libs

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Remove unnecessary --all flag from build command in publish workflow
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Move permissions section to the top of the publish workflow for better visibility
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

.github/labeler.yaml:

# .github/labeler.yaml

# ————— Branch-based labels —————
Bugfix:
  - head-branch: ['^bugfix/.*']
Hotfix:
  - head-branch: ['^hotfix/.*']
Feature:
  - head-branch: ['^feature/.*']
Release:
  - head-branch: ['^release/.*']
Support:
  - head-branch: ['^support/.*']

# ————— GitHub meta —————
GitHub:
  - changed-files:
      any-glob-to-any-file: '.github/**'
GitHub-Workflows:
  - changed-files:
      any-glob-to-any-file: '.github/workflows/**'
GitHub-Issue-Templates:
  - changed-files:
      any-glob-to-any-file: '.github/ISSUE_TEMPLATE/**'

# ————— Major areas —————
APIs:
  - changed-files:
      any-glob-to-any-file: 'apis/**'
User-Interfaces:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/**'
Docker:
  - changed-files:
      any-glob-to-any-file: 'docker/**'
Libs:
  - changed-files:
      any-glob-to-any-file: 'libs/**'

# ————— Sample sub-areas —————
Authentication:
  - changed-files:
      any-glob-to-any-file: 'apis/auth/**'
Discord-Bot:
  - changed-files:
      any-glob-to-any-file: 'apis/discord-bot/**'
Frontend:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/frontend/**'

# ————— Documentation & tests —————
Documentation:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'
        - 'docs/**'
Testing:
  - changed-files:
      any-glob-to-any-file:
        - 'tests/**'
        - 'test/**'
        - '**/*.test.*'
        - '**/*.spec.*'

# ————— Dependency files —————
Dependencies:
  - changed-files:
      any-glob-to-any-file:
        - 'requirements.txt'
        - '**/requirements.txt'
        - 'package.json'
        - '**/package.json'
        - 'package-lock.json'
        - 'yarn.lock'
        - 'pnpm-lock.yaml'
        - 'Gemfile'
        - 'Gemfile.lock'
        - 'Pipfile'
        - 'Pipfile.lock'
