Repository Sinless777/Helix, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub, GitHub-Workflows, GitHub-Issue-Templates, APIs, User-Interfaces, Docker, Libs, Authentication, Discord-Bot, Frontend, Documentation, Testing, Dependencies

chore(release): v1.2.1
  CHANGELOGS/08_12_2025-CHANGELOG-1.2.1.md
  package.json
Labels: Documentation, Dependencies

chore(release): v1.2.2
  CHANGELOGS/08_12_2025-CHANGELOG-1.2.2.md
  package.json
Labels: Documentation, Dependencies

feat: add devcontainer configuration with multiple services including Redis, CockroachDB, and Mailpit
  .devcontainer/devcointainer.json
  .devcontainer/docker-compose.yaml
  .devcontainer/docker/cockroachdb.yaml
  .devcontainer/docker/configs/nginx-api.conf
  .devcontainer/docker/configs/nginx-settings.conf
  .devcontainer/docker/configs/nginx.conf
  .devcontainer/docker/mailpit.yaml
  .devcontainer/docker/nginx.yaml
  .devcontainer/docker/redis.yaml
Labels: none

Rename devcointainer.json to devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

chore(release): v1.2.3
  CHANGELOGS/08_12_2025-CHANGELOG-1.2.3.md
  package.json
Labels: Documentation, Dependencies

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update cockroachdb.yaml
  .devcontainer/docker/cockroachdb.yaml
Labels: none

Delete .devcontainer/docker/cockroachdb.yaml
  .devcontainer/docker/cockroachdb.yaml
Labels: none

Update docker-compose.yaml
  .devcontainer/docker-compose.yaml
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Update docker-compose.yaml
  .devcontainer/docker-compose.yaml
Labels: none

Update docker-compose.yaml
  .devcontainer/docker-compose.yaml
Labels: none

Update docker-compose.yaml
  .devcontainer/docker-compose.yaml
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

chore(release): v1.2.3
  CHANGELOGS/08_13_2025-CHANGELOG-1.2.3.md
  package.json
Labels: Documentation, Dependencies

feat: add user-service and user-service-e2e applications with initial setup
  apps/APIs/user-service-e2e/eslint.config.cjs
  apps/APIs/user-service-e2e/jest.config.ts
  apps/APIs/user-service-e2e/project.json
  apps/APIs/user-service-e2e/src/support/global-setup.ts
  apps/APIs/user-service-e2e/src/support/global-teardown.ts
  apps/APIs/user-service-e2e/src/support/test-setup.ts
  apps/APIs/user-service-e2e/src/user-service/user-service.spec.ts
  apps/APIs/user-service-e2e/tsconfig.json
  apps/APIs/user-service-e2e/tsconfig.spec.json
  apps/APIs/user-service/eslint.config.cjs
  apps/APIs/user-service/jest.config.ts
  apps/APIs/user-service/project.json
  apps/APIs/user-service/src/app/app.controller.spec.ts
  apps/APIs/user-service/src/app/app.controller.ts
  apps/APIs/user-service/src/app/app.module.ts
  apps/APIs/user-service/src/app/app.service.spec.ts
  apps/APIs/user-service/src/app/app.service.ts
  apps/APIs/user-service/src/assets/.gitkeep
  apps/APIs/user-service/src/main.ts
  apps/APIs/user-service/tsconfig.app.json
  apps/APIs/user-service/tsconfig.json
  apps/APIs/user-service/tsconfig.spec.json
  apps/APIs/user-service/webpack.config.js
  nx.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Testing, Dependencies

feat: Implement generic base repository and user repository for MikroORM
  libs/db/src/env.d.ts
  libs/db/src/index.ts
  libs/db/src/lib/db.module.ts
  libs/db/src/lib/entities/api-key.entity.ts
  libs/db/src/lib/entities/audit-log.entity.ts
  libs/db/src/lib/entities/membership.entity.ts
  libs/db/src/lib/entities/mfa-totp.entity.ts
  libs/db/src/lib/entities/oauth-identity.entity.ts
  libs/db/src/lib/entities/organization.entity.ts
  libs/db/src/lib/entities/team-membership.entity.ts
  libs/db/src/lib/entities/team.entity.ts
  libs/db/src/lib/entities/trusted-device.entity.ts
  libs/db/src/lib/entities/user-language.entity.ts
  libs/db/src/lib/entities/user-preference.entity.ts
  libs/db/src/lib/entities/user-profile.entity.ts
  libs/db/src/lib/entities/user.entity.ts
  libs/db/src/lib/entities/webauthn-credential.entity.ts
  libs/db/src/lib/enums/cefr.enum.ts
  libs/db/src/lib/enums/gender.enum.ts
  libs/db/src/lib/enums/iso5218-sex.enum.ts
  libs/db/src/lib/enums/preference-sentiment.enum.ts
  libs/db/src/lib/index.ts
  libs/db/src/lib/mikro-orm.options.ts
  libs/db/src/lib/repositories/base.repository.ts
  libs/db/src/lib/repositories/user.repository.ts
  libs/db/src/lib/subscribers/audit.subscriber.ts
  libs/db/src/lib/utils/bcp47.ts
  libs/db/src/lib/utils/geoip.ts
  libs/db/src/lib/utils/timezone.ts
  libs/db/tsconfig.json
  libs/db/tsconfig.lib.json
  libs/db/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: Libs, Testing, Dependencies

feat(audit): introduce core audit module with decorators, context extraction, and redaction utilities
  .vscode/mcp.json
  libs/audit/src/index.ts
  libs/audit/src/lib/audit.interceptor.ts
  libs/audit/src/lib/audit.module.ts
  libs/audit/src/lib/audit.service.ts
  libs/audit/src/lib/constants.ts
  libs/audit/src/lib/decorators/audit-action.decorator.ts
  libs/audit/src/lib/decorators/audit-resource.decorator.ts
  libs/audit/src/lib/providers/audit-context.provider.ts
  libs/audit/src/lib/types/audit.types.ts
  libs/audit/src/lib/utils/diff.util.ts
  libs/audit/src/lib/utils/redact.util.ts
  libs/audit/tsconfig.json
  libs/audit/tsconfig.lib.json
  libs/db/src/lib/entities/audit-log.entity.ts
  nx.json
  package.json
  pnpm-lock.yaml
Labels: Libs, Dependencies

chore(release): v1.2.4
  CHANGELOGS/08_20_2025-CHANGELOG-1.2.4.md
  package.json
Labels: Documentation, Dependencies

Implement feature X to enhance user experience and fix bug Y in module Z
  pnpm-lock.yaml
Labels: Dependencies

refactor(redis): streamline Redis library structure and enhance configuration
  .devcontainer/devcontainer.json
  libs/redis/README.md
  libs/redis/src/lib/clients/redis.client.ts
  libs/redis/src/lib/clients/redis.factory.ts
  libs/redis/src/lib/clients/redis.subscriber.ts
  libs/redis/src/lib/config/redis.config.ts
  libs/redis/src/lib/decorators/cache-ttl.decorator.ts
  libs/redis/src/lib/health/redis.health.ts
  libs/redis/src/lib/interceptors/cache.interceptor.ts
  libs/redis/src/lib/redis.constants.ts
  libs/redis/src/lib/redis.tokens.ts
  libs/redis/src/lib/redis.types.ts
  libs/redis/src/lib/repositories/cache.repository.ts
  libs/redis/src/lib/repositories/jti.repository.ts
  libs/redis/src/lib/repositories/otp.repository.ts
  libs/redis/src/lib/repositories/rate-limit.repository.ts
  libs/redis/src/lib/repositories/refresh-token.repository.ts
  libs/redis/src/lib/repositories/session.repository.ts
  libs/redis/src/lib/utils/hash.util.ts
  libs/redis/src/lib/utils/json.util.ts
  libs/redis/src/lib/utils/key.util.ts
  libs/redis/src/lib/utils/rate-limit.util.ts
  libs/redis/src/lib/utils/ttl.util.ts
  libs/redis/tsconfig.lib.json
  tsconfig.base.json
Labels: Libs, Documentation

chore: add oxc-resolver to onlyBuiltDependencies in pnpm-workspace.yaml
  libs/redis/src/lib/redis.constants.ts
  libs/redis/src/lib/utils/key.util.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Libs, Dependencies

chore(release): v1.2.5
  CHANGELOGS/08_20_2025-CHANGELOG-1.2.5.md
  package.json
Labels: Documentation, Dependencies

Delete pnpm-lock.yaml
  pnpm-lock.yaml
Labels: Dependencies

Delete pnpm-lock.yaml
  pnpm-lock.yaml
Labels: Dependencies

feat: add TypeScript definitions for Redis environment variables
  libs/redis/src/env.d.ts
  libs/redis/src/lib/clients/redis.client.ts
  libs/redis/src/lib/clients/redis.factory.ts
  libs/redis/src/lib/clients/redis.subscriber.ts
  libs/redis/src/lib/config/redis.config.ts
  libs/redis/src/lib/decorators/cache-ttl.decorator.ts
  libs/redis/src/lib/health/redis.health.ts
  libs/redis/src/lib/interceptors/cache.interceptor.ts
  libs/redis/src/lib/redis.constants.ts
  libs/redis/src/lib/repositories/cache.repository.ts
  libs/redis/src/lib/utils/rate-limit.util.ts
  libs/redis/src/lib/utils/ttl.util.ts
  package.json
  pnpm-lock.yaml
Labels: Libs, Dependencies

feat(redis): implement session and refresh token repositories with Redis integration
  libs/redis/src/env.d.ts
  libs/redis/src/lib/repositories/jti.repository.ts
  libs/redis/src/lib/repositories/otp.repository.ts
  libs/redis/src/lib/repositories/rate-limit.repository.ts
  libs/redis/src/lib/repositories/refresh-token.repository.ts
  libs/redis/src/lib/repositories/session.repository.ts
Labels: Libs

chore: refactor project structure and update ESLint configurations
  .eslintrc
  .prettierrc
  libs/audit/.eslintrc.json
  libs/audit/eslint.config.cjs
  libs/audit/project.json
  libs/audit/src/lib/audit.service.ts
  libs/auth/.eslintrc.json
  libs/auth/eslint.config.cjs
  libs/auth/project.json
  libs/core/.eslintrc.json
  libs/db/.eslintrc.json
  libs/db/eslint.config.cjs
  libs/db/project.json
  libs/db/src/lib/entities/api-key.entity.ts
  libs/email/.eslintrc.json
  libs/email/eslint.config.cjs
  libs/email/project.json
  libs/featureflags/.eslintrc.json
  libs/featureflags/eslint.config.cjs
  libs/featureflags/project.json
  libs/logger/.eslintrc.json
  libs/logger/project.json
  libs/rbac/.eslintrc.json
  libs/rbac/eslint.config.cjs
  libs/rbac/project.json
  libs/redis/.eslintrc.json
  libs/redis/eslint.config.cjs
  libs/redis/project.json
  libs/redis/src/lib/interceptors/cache.interceptor.ts
  libs/redis/src/lib/repositories/cache.repository.ts
  libs/redis/src/lib/repositories/jti.repository.ts
  libs/sms/.eslintrc.json
  libs/sms/eslint.config.cjs
  libs/sms/project.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: Libs, Dependencies

fix: update ESLint configuration to use .eslintrc instead of .eslintrc.json
  apps/APIs/user-service-e2e/eslint.config.cjs
  apps/APIs/user-service/eslint.config.cjs
  apps/UI/frontend-e2e/.eslintrc.json
  apps/UI/frontend/.eslintrc.json
Labels: none

fix(google.adapter): update includeGrantedScopes logic to handle string values correctly
  libs/auth/src/lib/services/oauth/google.adapter.ts
Labels: Libs

refactor: clean up comments and improve error handling in OAuth adapters and WebAuthn service
  libs/auth/src/lib/jobs/jwks-rotation.job.ts
  libs/auth/src/lib/services/helpers/claims.helper.ts
  libs/auth/src/lib/services/oauth/discord.adapter.ts
  libs/auth/src/lib/services/oauth/facebook.adapter.ts
  libs/auth/src/lib/services/oauth/github.adapter.ts
  libs/auth/src/lib/services/oauth/google.adapter.ts
  libs/auth/src/lib/services/webauthn.service.ts
  libs/auth/src/lib/testing/token.service.spec.ts
Labels: Libs, Testing

Update devcontainer.json with new settings
  .devcontainer/devcontainer.json
Labels: none

Enhance postCreateCommand for better package management
  .devcontainer/devcontainer.json
Labels: none

feat(email): add password reset and email verification templates
  libs/email/README.md
  libs/email/src/index.ts
  libs/email/src/lib/config/email.config.ts
  libs/email/src/lib/dtos/send-mail.dto.ts
  libs/email/src/lib/email.module.ts
  libs/email/src/lib/email.service.ts
  libs/email/src/lib/providers/template.engine.ts
  libs/email/src/lib/providers/transport.factory.ts
  libs/email/src/lib/templates/emails/magic-login.html
  libs/email/src/lib/templates/emails/mfa-code.html
  libs/email/src/lib/templates/emails/password-reset.html
  libs/email/src/lib/templates/emails/verify-email.html
  libs/email/src/lib/templates/layouts/base.html
  libs/email/src/lib/templates/partials/footer.html
  libs/email/src/lib/templates/partials/header.html
  libs/email/src/lib/types/email.types.ts
  libs/email/src/lib/utils/address.util.ts
  libs/email/src/lib/utils/render.util.ts
  libs/email/tsconfig.json
  libs/email/tsconfig.lib.json
  package.json
Labels: Libs, Documentation, Dependencies

feat: add credits and acknowledgments page with detailed accreditation cards
  apps/UI/frontend/next-env.d.ts
  apps/UI/frontend/src/app/Contact/page.tsx
  apps/UI/frontend/src/app/Docs/Legal/Credits/credits.ts
  apps/UI/frontend/src/app/Docs/Legal/Credits/page.tsx
  libs/core/src/lib/constants/frontend/Docs/navigation.ts
  libs/core/src/lib/constants/status-urls.ts
  package.json
  pnpm-lock.yaml
Labels: Libs, Dependencies

refactor: code structure for improved readability and maintainability
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: Dependencies

chore(release): v1.2.6
  CHANGELOGS/08_31_2025-CHANGELOG-1.2.6.md
  package.json
Labels: Documentation, Dependencies

.github/labeler.yaml:

# .github/labeler.yaml

# ————— Branch-based labels —————
Bugfix:
  - head-branch: ['^bugfix/.*']
Hotfix:
  - head-branch: ['^hotfix/.*']
Feature:
  - head-branch: ['^feature/.*']
Release:
  - head-branch: ['^release/.*']
Support:
  - head-branch: ['^support/.*']

# ————— GitHub meta —————
GitHub:
  - changed-files:
      any-glob-to-any-file: '.github/**'
GitHub-Workflows:
  - changed-files:
      any-glob-to-any-file: '.github/workflows/**'
GitHub-Issue-Templates:
  - changed-files:
      any-glob-to-any-file: '.github/ISSUE_TEMPLATE/**'

# ————— Major areas —————
APIs:
  - changed-files:
      any-glob-to-any-file: 'apis/**'
User-Interfaces:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/**'
Docker:
  - changed-files:
      any-glob-to-any-file: 'docker/**'
Libs:
  - changed-files:
      any-glob-to-any-file: 'libs/**'

# ————— Sample sub-areas —————
Authentication:
  - changed-files:
      any-glob-to-any-file: 'apis/auth/**'
Discord-Bot:
  - changed-files:
      any-glob-to-any-file: 'apis/discord-bot/**'
Frontend:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/frontend/**'

# ————— Documentation & tests —————
Documentation:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'
        - 'docs/**'
Testing:
  - changed-files:
      any-glob-to-any-file:
        - 'tests/**'
        - 'test/**'
        - '**/*.test.*'
        - '**/*.spec.*'

# ————— Dependency files —————
Dependencies:
  - changed-files:
      any-glob-to-any-file:
        - 'requirements.txt'
        - '**/requirements.txt'
        - 'package.json'
        - '**/package.json'
        - 'package-lock.json'
        - 'yarn.lock'
        - 'pnpm-lock.yaml'
        - 'Gemfile'
        - 'Gemfile.lock'
        - 'Pipfile'
        - 'Pipfile.lock'
