Repository Sinless777/Helix, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub, GitHub-Workflows, GitHub-Issue-Templates, APIs, User-Interfaces, Docker, Libs, Authentication, Discord-Bot, Frontend, Documentation, Testing, Dependencies

chore(release): 1.1.3
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Add --no-cache option to build step for improved performance
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

chore(release): 1.1.4
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Add CI fix step to ensure consistency before building workspace
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

chore(release): 1.1.5
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Remove --no-cache option from build step for consistency
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

chore(release): 1.1.6
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Add NPM_ACCESS_TOKEN to environment variables for consistency
  .github/workflows/publish-libs.yaml
  apps/frontend/next-env.d.ts
Labels: GitHub, GitHub-Workflows

chore(release): 1.1.7
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Remove emitDeclarationOnly option from tsconfig.lib.json for clarity
  libs/hypertune/tsconfig.lib.json
Labels: Libs

chore(release): 1.1.8
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

chore(release): 1.1.9
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

fix: Update workflow name and streamline publish steps in publish-libs.yaml
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

fix: Update publish workflow to use pnpm and improve caching strategies
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

fix: Update pnpm setup to version 10.18.0 and streamline version bump process
  .github/workflows/publish-libs.yaml
Labels: GitHub, GitHub-Workflows

fix: Update tsconfig.lib.json to correct rootDir and enhance declaration options
  libs/ui/tsconfig.lib.json
Labels: Libs

fix: Update publish workflow and dependencies; remove unused files and scripts
  .github/workflows/publish-libs.yaml
  .local.env
  .mcp.json
  package.json
  pnpm-lock.yaml
  tools/scripts/patch-nx.js
Labels: GitHub, GitHub-Workflows, Dependencies

fix: Remove NX_CLOUD_ACCESS_TOKEN and clean up publish workflow
  .github/workflows/publish-libs.yaml
  nx.json
Labels: GitHub, GitHub-Workflows

fix: Remove unused scripts and dependencies from package.json and pnpm-lock.yaml; clean up pnpm workspace configuration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Dependencies

fix: Add build target dependency to targetDefaults in nx.json
  nx.json
Labels: none

fix: Simplify next.config.js by removing Nx-specific options and legacy code
  apps/frontend/next.config.js
Labels: none

feat: Enhance e2e tests and UI components for improved user experience and functionality
  apps/frontend-e2e/src/e2e/about.cy.ts
  apps/frontend-e2e/src/e2e/app.cy.ts
  apps/frontend-e2e/src/e2e/contact.cy.ts
  apps/frontend-e2e/src/e2e/navigation.cy.ts
  apps/frontend-e2e/src/e2e/technology.cy.ts
  apps/frontend-e2e/src/support/app.po.ts
  apps/frontend-e2e/src/support/commands.ts
  apps/frontend-e2e/src/support/e2e.ts
  apps/frontend-e2e/tsconfig.json
  apps/frontend/next-env.d.ts
  apps/frontend/next.config.js
  libs/ui/src/components/Card.tsx
  libs/ui/src/components/Waitlist.tsx
Labels: Libs

fix: Adjust TypeScript configuration and update Cypress command namespace handling
  apps/frontend-e2e/src/support/commands.ts
  apps/frontend-e2e/tsconfig.json
Labels: none

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Labels: Documentation, Dependencies

chore: update GitHub Actions workflow to use pnpm and add dependencies
  .github/workflows/assign.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: GitHub, GitHub-Workflows, Dependencies

chore: update GitHub Actions workflow to use pnpm for dependency installation
  .github/workflows/assign.yaml
Labels: GitHub, GitHub-Workflows

Potential fix for code scanning alert no. 5: Uncontrolled data used in path expression
  .github/scripts/assign.js
Labels: GitHub

chore: Fix broken lock file
  pnpm-lock.yaml
Labels: Dependencies

feat: Update frontend and config libraries
  .gemini/settings.json
  .gitignore
  .mcp.json
  .npmrc
  .npmrc.local.example
  CLAUDE.md
  apps/frontend-e2e/tsconfig.json
  apps/frontend/eslint.config.mjs
  apps/frontend/index.d.ts
  apps/frontend/next-env.d.ts
  apps/frontend/src/content/home/index.ts
  libs/config/package.json
  libs/config/src/config/hypertune.config.ts
  libs/config/src/hypertune/hypertune.yaml
  libs/config/src/types/hypertune.ts
  libs/config/tsconfig.lib.json
  libs/db/package.json
  libs/ui/package.json
  libs/ui/rollup.config.cjs
  libs/ui/src/providers/providers.tsx
  libs/ui/src/utils/faro.ts
  libs/ui/src/utils/getHypertune.ts
  pnpm-lock.yaml
Labels: Libs, Documentation, Dependencies

feat: Update build command to use webpack and add daemon process options
  apps/frontend/project.json
  nx.json
Labels: none

chore: Remove rootDir option from tsconfig.lib.json
  libs/ui/tsconfig.lib.json
Labels: Libs

feat: Add dependencies for libs/config and update version specifiers for libs/ui and libs/services
  pnpm-lock.yaml
Labels: Dependencies

fix: Improve error handling and path resolution in assign.js script
  .github/scripts/assign.js
Labels: GitHub

feat: Enhance release notes generation script with improved CI checks and OpenAI integration
  .github/scripts/releasenotes.js
Labels: GitHub

feat: Add Code of Conduct and Contributing guidelines to enhance community standards and contribution process
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Readme.md
Labels: Documentation

feat: Update license to Modified Apache License 2.0 with non-commercial use terms and commercial licensing requirements
  LICENSE.md
Labels: Documentation

Update LICENSE.md
  LICENSE.md
Labels: Documentation

feat: Revise license terms to clarify non-commercial use and commercial licensing requirements
  LICENSE.md
Labels: Documentation

fix: Clean up formatting in LICENSE.md for improved readability
  LICENSE.md
Labels: Documentation

fix: Update Discord community badge link in Readme.md
  Readme.md
Labels: Documentation

.github/labeler.yaml:

# .github/labeler.yaml

# ————— Branch-based labels —————
Bugfix:
  - head-branch: ['^bugfix/.*']
Hotfix:
  - head-branch: ['^hotfix/.*']
Feature:
  - head-branch: ['^feature/.*']
Release:
  - head-branch: ['^release/.*']
Support:
  - head-branch: ['^support/.*']

# ————— GitHub meta —————
GitHub:
  - changed-files:
      any-glob-to-any-file: '.github/**'
GitHub-Workflows:
  - changed-files:
      any-glob-to-any-file: '.github/workflows/**'
GitHub-Issue-Templates:
  - changed-files:
      any-glob-to-any-file: '.github/ISSUE_TEMPLATE/**'

# ————— Major areas —————
APIs:
  - changed-files:
      any-glob-to-any-file: 'apis/**'
User-Interfaces:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/**'
Docker:
  - changed-files:
      any-glob-to-any-file: 'docker/**'
Libs:
  - changed-files:
      any-glob-to-any-file: 'libs/**'

# ————— Sample sub-areas —————
Authentication:
  - changed-files:
      any-glob-to-any-file: 'apis/auth/**'
Discord-Bot:
  - changed-files:
      any-glob-to-any-file: 'apis/discord-bot/**'
Frontend:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/frontend/**'

# ————— Documentation & tests —————
Documentation:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'
        - 'docs/**'
Testing:
  - changed-files:
      any-glob-to-any-file:
        - 'tests/**'
        - 'test/**'
        - '**/*.test.*'
        - '**/*.spec.*'

# ————— Dependency files —————
Dependencies:
  - changed-files:
      any-glob-to-any-file:
        - 'requirements.txt'
        - '**/requirements.txt'
        - 'package.json'
        - '**/package.json'
        - 'package-lock.json'
        - 'yarn.lock'
        - 'pnpm-lock.yaml'
        - 'Gemfile'
        - 'Gemfile.lock'
        - 'Pipfile'
        - 'Pipfile.lock'
