Repository Sinless777/Helix, changes with the labels that .github/labeler.yaml gives for each.
All labels: GitHub, GitHub-Workflows, GitHub-Issue-Templates, APIs, User-Interfaces, Docker, Libs, Authentication, Discord-Bot, Frontend, Documentation, Testing, Dependencies

.github/labeler.yaml:

# .github/labeler.yaml

# ————— Branch-based labels —————
Bugfix:
  - head-branch: ['^bugfix/.*']
Hotfix:
  - head-branch: ['^hotfix/.*']
Feature:
  - head-branch: ['^feature/.*']
Release:
  - head-branch: ['^release/.*']
Support:
  - head-branch: ['^support/.*']

# ————— GitHub meta —————
GitHub:
  - changed-files:
      any-glob-to-any-file: '.github/**'
GitHub-Workflows:
  - changed-files:
      any-glob-to-any-file: '.github/workflows/**'
GitHub-Issue-Templates:
  - changed-files:
      any-glob-to-any-file: '.github/ISSUE_TEMPLATE/**'

# ————— Major areas —————
APIs:
  - changed-files:
      any-glob-to-any-file: 'apis/**'
User-Interfaces:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/**'
Docker:
  - changed-files:
      any-glob-to-any-file: 'docker/**'
Libs:
  - changed-files:
      any-glob-to-any-file: 'libs/**'

# ————— Sample sub-areas —————
Authentication:
  - changed-files:
      any-glob-to-any-file: 'apis/auth/**'
Discord-Bot:
  - changed-files:
      any-glob-to-any-file: 'apis/discord-bot/**'
Frontend:
  - changed-files:
      any-glob-to-any-file: 'user-interfaces/frontend/**'

# ————— Documentation & tests —————
Documentation:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'
        - 'docs/**'
Testing:
  - changed-files:
      any-glob-to-any-file:
        - 'tests/**'
        - 'test/**'
        - '**/*.test.*'
        - '**/*.spec.*'

# ————— Dependency files —————
Dependencies:
  - changed-files:
      any-glob-to-any-file:
        - 'requirements.txt'
        - '**/requirements.txt'
        - 'package.json'
        - '**/package.json'
        - 'package-lock.json'
        - 'yarn.lock'
        - 'pnpm-lock.yaml'
        - 'Gemfile'
        - 'Gemfile.lock'
        - 'Pipfile'
        - 'Pipfile.lock'

chore(release): v1.2.7
  CHANGELOGS/08_31_2025-CHANGELOG-1.2.7.md
  package.json
Labels: Documentation, Dependencies

chore(release): v1.2.8
  CHANGELOGS/08_31_2025-CHANGELOG-1.2.8.md
  package.json
Labels: Documentation, Dependencies

chore(release): v1.2.9
  CHANGELOGS/08_31_2025-CHANGELOG-1.2.9.md
  package.json
Labels: Documentation, Dependencies

feat(nx-cloud): setup nx cloud workspace
  nx.json
Labels: none

chore(release): v1.2.10
  CHANGELOGS/08_31_2025-CHANGELOG-1.2.10.md
  package.json
Labels: Documentation, Dependencies

feat: update credits page with new organization and contributors, enhance OrgLogo component styling
  apps/UI/frontend/next.config.js
  apps/UI/frontend/src/app/Docs/Legal/Credits/credits.ts
  apps/UI/frontend/src/app/Docs/Legal/Credits/page.tsx
Labels: none

Initial commit from Create Next App
  .gitignore
  README.md
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  tsconfig.json
Labels: Documentation, Dependencies

feat: enhance user profile management with detailed profile card and editing capabilities
  .github/mcp/prompts/always-comment-code.md
  app/[user-id]/page.tsx
  app/api/V1/[user-id]/.gitkeep
  app/api/V1/[user-id]/profile/route.ts
  components/Header.tsx
  components/providers/ConvexClientProvider.tsx
  components/users/.gitkeep
  components/users/Profile/ProfileCard.tsx
  components/users/Profile/ProfileDetails.tsx
  components/users/Profile/sidebar.tsx
  components/users/Profile/topbar.tsx
  components/users/Profile/wrapper.tsx
  components/users/profile.ts
  components/users/ui/modal.tsx
  convex/profile.ts
  convex/schema.ts
  lib/convex/get.util.ts
  lib/convex/index.ts
  lib/convex/query.util.ts
  lib/security/decrypt.util.ts
  lib/security/encrypt.util.ts
  lib/users/profile.ts
  lib/users/users.ts
Labels: GitHub, Documentation

feat: add DevelopmentBanner component for indicating development environment
  app/layout.tsx
  app/page.tsx
  components/development-banner.tsx
  package.json
  pnpm-lock.yaml
Labels: Dependencies

feat: add package paths to pnpm workspace configuration
  pnpm-workspace.yaml
Labels: none

feat: update Renovate configuration and add Vercel analytics dependency
  .github/renovate.json5
  .gitignore
  convex/auth.config.ts
  package.json
  pnpm-lock.yaml
Labels: GitHub, Dependencies

feat: add Vercel Speed Insights and Analytics components
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Labels: Dependencies

feat: add Google AdSense meta tag to layout
  app/layout.tsx
Labels: none

feat: integrate Google Analytics and update AdSense meta tag in layout
  app/layout.tsx
Labels: none

feat: implement Faro analytics provider and integrate into the Providers component
  components/providers/FaroProvider.tsx
  components/providers/index.tsx
  content/constants/config.ts
  lib/analytics/faro.client.ts
Labels: none

feat: update Faro initialization logic to always enable and log configuration details
  lib/analytics/faro.client.ts
Labels: none

feat: update build script to use Convex for deployment
  package.json
Labels: Dependencies

feat: update build script to use correct command for Convex deployment
  package.json
Labels: Dependencies

feat: update build script to use Next.js build command
  package.json
Labels: Dependencies

chore(rbac): add design PR and TODOs for RBAC/ABAC hybrid feature
  .github/PRs/feature-rbac-abac-hybrid.md
Labels: GitHub, Documentation

refactor(convex): normalize file layout to *.funcs.ts, *.schema.ts, *.mutation.ts
  .github/PRs/feature-rbac-abac-hybrid.md
  convex/functions/notification.funcs.ts
  convex/functions/profile.funcs.ts
  convex/functions/waitlist.funcs.ts
  convex/notification.funcs.ts
  convex/notification.schema.ts
  convex/profile.funcs.ts
  convex/profile.mutation.ts
  convex/profile.schema.ts
  convex/schema.ts
  convex/schemas/notification.schema.ts
  convex/schemas/profile.schema.ts
  convex/schemas/waitlist.schema.ts
  convex/user/profile.mutation.ts
  convex/user/waitlist.mutation.ts
  convex/waitlist.funcs.ts
  convex/waitlist.mutation.ts
  convex/waitlist.schema.ts
Labels: GitHub, Documentation

refactor(convex): move mutation handlers to funcs and split schema into per-entity files
  convex/profile.funcs.ts
  convex/schema.ts
  convex/schemas/notification.schema.ts
  convex/schemas/profile.schema.ts
  convex/schemas/waitlist.schema.ts
  convex/user/profile.mutation.ts
  convex/user/waitlist.mutation.ts
  convex/waitlist.funcs.ts
Labels: none

feat: implement user notifications system with CRUD operations and UI integration
  app/[user-id]/page.tsx
  app/api/V1/[user-id]/notification/route.ts
  components/users/Profile/topbar.tsx
  components/users/Profile/wrapper.tsx
  convex/functions/notification.funcs.ts
  convex/functions/profile.funcs.ts
  convex/functions/waitlist.funcs.ts
  convex/notification.funcs.ts
  convex/notification.schema.ts
  convex/profile.funcs.ts
  convex/profile.mutation.ts
  convex/profile.schema.ts
  convex/profile.ts
  convex/queries/notification.query.ts
  convex/queries/profile.query.ts
  convex/system/notifications.mutation.ts
  convex/user/profile.mutation.ts
  convex/user/waitlist.mutation.ts
  convex/waitlist.funcs.ts
  convex/waitlist.mutation.ts
  convex/waitlist.schema.ts
  convex/waitlist.ts
  hooks/useNotifications.ts
Labels: none

feat: restructure user functions and queries, moving to dedicated user directory
  convex/functions.ts
  convex/functions/user/profile.funcs.ts
  convex/functions/user/waitlist.funcs.ts
  convex/mutations.ts
  convex/mutations/system/notifications.mutation.ts
  convex/mutations/user/profile.mutation.ts
  convex/mutations/user/waitlist.mutation.ts
  convex/queries.ts
  convex/queries/system/notification.query.ts
  convex/queries/user/profile.query.ts
Labels: none

feat: add support ticket types and status definitions
  app/[user-id]/page.tsx
  app/[user-id]/support/page.tsx
  app/admin/page.tsx
  app/api/V1/[user-id]/profile/route.ts
  app/api/V1/support/.gitkeep
  app/api/V1/support/ticket/route.ts
  app/layout.tsx
  components/support/SupportTicketForm.tsx
  components/support/SupportTicketList.tsx
  components/support/SupportTicketsPanel.tsx
  components/support/ticketCard.tsx
  components/users/Profile/ProfileDetails.tsx
  content/constants/config.ts
  convex/functions/support/ticket.funcs.ts
  convex/functions/user/profile.funcs.ts
  convex/mutations/support/ticket.mutation.ts
  convex/mutations/user/profile.mutation.ts
  convex/profile.ts
  convex/queries/support/ticket.query.ts
  convex/schemas/profile.schema.ts
  convex/schemas/ticket.schema.ts
  convex/ticket.ts
  instrumentation.ts
  lib/users/profile.ts
  lib/users/users.ts
  package.json
  pnpm-lock.yaml
  types/support.ts
Labels: Dependencies

chore: remove VSCode specific files from .gitignore
  .gitignore
Labels: none

fix: correct hostname format in next.config.ts for image remote patterns
  next.config.ts
Labels: none

refactor: remove Google Fonts integration for offline support and fallback to system fonts
  app/layout.tsx
Labels: none

Implement feature X to enhance user experience and fix bug Y in module Z
  pnpm-lock.yaml
Labels: Dependencies

Add .gitignore file for Helix Nx Monorepo
  .gitignore
Labels: none

chore: Update CI error guidelines and swap tsconfig references for better clarity. Added .mcp.json configuration for Nx MCP server.
  .mcp.json
  AGENTS.md
  libs/ui/tsconfig.lib.json
Labels: Libs, Documentation

feat: Refactor project structure and update package scopes to @helix-ai. Enhance CI deployment process with new workflows and scripts for publishing libraries.
  .github/workflows/publish-libs.yml
  .npmrc
  .vercelignore
  AGENTS.md
  Docs/DEPLOY.md
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/frontend/src/app/About/page.tsx
  apps/frontend/src/app/Contact/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/technology/[link]/page.tsx
  apps/frontend/src/app/technology/page.tsx
  libs/config/package.json
  libs/db/package.json
  libs/db/src/entities/index.ts
  libs/db/src/entity.base.ts
  libs/db/src/index.ts
  libs/db/src/mikroorm-config.ts
  libs/hypertune/package.json
  libs/hypertune/src/getHypertune.ts
  libs/hypertune/tsconfig.lib.json
  libs/ui/README.md
  libs/ui/package.json
  libs/ui/rollup.config.cjs
  libs/ui/src/utils/faro.ts
  libs/ui/src/utils/getHypertune.ts
  package.json
  tsconfig.base.json
  vercel.json
Labels: GitHub, GitHub-Workflows, Libs, Documentation, Dependencies

chore: Update .vercelignore for clarity and remove unnecessary entries from pnpm-lock.yaml
  .vercelignore
  pnpm-lock.yaml
Labels: Dependencies

chore: Update .npmrc template for clarity and add workspace-wide npm configuration. Modify package.json to ensure it is marked as private.
  .npmrc
  package.json
Labels: Dependencies

chore: Add prepublishOnly script to package.json for improved build process
  libs/config/package.json
Labels: Libs, Dependencies

chore: Update GitHub workflows and configurations for improved library publishing and dependency management
  .github/renovate.json5
  .github/workflows/publish-libs.yml
  eslint.config.mjs
  libs/db/tsconfig.lib.json
  libs/ui/tsconfig.lib.json
Labels: GitHub, GitHub-Workflows, Libs

feat: Add maintenance and security issue templates for better tracking
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/security.yaml
  .github/assignees.yaml
  .github/codeql.yaml
  .github/dependabot.yaml
  .github/labels.yaml
  .github/milestones.yaml
  .github/renovate.json5
  .github/workflows/assign.yaml
  .github/workflows/codeQL.yaml
  .github/workflows/eslint-prettier.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/sync-milestones.yaml
  .whitesource
Labels: GitHub, GitHub-Workflows, GitHub-Issue-Templates

chore: Refactor GitHub workflows for improved clarity and functionality
  .github/workflows/assign.yaml
  .github/workflows/codeQL.yaml
  .github/workflows/eslint-prettier.yaml
  .github/workflows/publish-libs.yml
Labels: GitHub, GitHub-Workflows

Implement code changes for feature enhancement and bug fixes
  apps/frontend/package.json
  libs/hypertune/package.json
  package.json
  pnpm-lock.yaml
Labels: Libs, Dependencies

chore: Clean up CodeQL configuration and remove unused Whitesource file
  .github/codeql.yaml
  .whitesource
Labels: GitHub
